# macOS system files
.DS_Store

# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# User-specific settings
*.xcworkspace/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

